.module-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    
}

.module-grid a img{
    background-color: white;
}

.module-grid a img:hover{
    filter: brightness(0.8);
    transition: all 0.1s ease-in-out;
}