.module-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 32rem;
}

img{
    width: 10rem;
}

.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}