.subTitle{
    font-size: 0.9rem;
}

header:nth-child(1){
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.module-body table{
    border-spacing: 0;
    border-collapse: collapse;
}

.module-body td{
    border: 1px solid black;
}

.underline{
    text-decoration: underline;
}

.table-padding-lr tr td{
    padding: 0px 10px
}

.table-padding-lr tr td h3{
    margin: 10px 0 0 0;
}


/* For some of the spans, it is more convenient to use a class instead of <strong /> */
.bold{
    font-weight: bold;
}


/* Custom Mark Colours */
span.red{
    border: 1px solid rgba(0, 0, 0, 0.267) !important;
}

span.cyan{
    border: 1px solid rgba(0, 0, 0, 0.267) !important;
}

span.white{
    border: 1px solid rgba(0, 0, 0, 0.267) !important;
}

span.pink{
    border: 1px solid rgba(0, 0, 0, 0.267) !important;
}

span.yellow{
    border: 1px solid rgba(0, 0, 0, 0.267) !important;
}

span.black{
    border: 1px solid rgba(0, 0, 0, 0.267) !important;
}

/* Background colour setters */
.red{
    background-color: rgb(255, 65, 65) !important;
}

.cyan{
    background-color: cyan !important;
}

.white{
    background-color: white !important;
}

.pink{
    background-color: pink !important;
}

.yellow{
    background-color: yellow !important;
}

.green{
    background-color: #2bff46;
}

.black{
    background-color: rgb(163, 163, 163) !important;
}

.highlight{
    background-color: rgb(255, 230, 0) !important;
}

.highlight-t{
    background-color: rgb(255, 230, 0) !important;
    color: black !important;
}