.module-body table td, .adv-module-body table td{
  padding: 1rem;
  background-color: white;
}

.module-body{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adv-module-body{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 30px;
}